{{> pageHeading title='reports_appointments' }}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12" id="tablebox">
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{_ 'reports_appointments'}} <small class="m-l-sm">{{_ 'reports_appointments-subtitle'}}</small></h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table id="report-appts-table" class="table table-striped table-bordered table-hover dataTable"></table>
          </div>
        </div>
        <div id="table-footer" class="ibox-footer"></div>
      </div>
    </div>
  </div>
</div>
