    <div class="footer">
        <div>
            <strong>{{_ 'common_developed-by'}}</strong> <a target="_blank" href="https://leonardo-vasconcellos.vercel.app/" rel="noopener">Leonardo LV</a> &copy; 2016-2026
        </div>
    </div>
