[submodule "project_archive/sbes"]
	path = project_archive/sbes
	url = https://github.com/llvasconcellos2/sbes.git
[submodule "project_archive/adhonep"]
	path = project_archive/adhonep
	url = https://github.com/llvasconcellos2/adhonep.git
[submodule "project_archive_other/pro-tour"]
	path = project_archive_other/pro-tour
	url = https://github.com/llvasconcellos2/pro-tour.git
[submodule "project_archive/ritmo-saude-ecommerce"]
	path = project_archive/ritmo-saude-ecommerce
	url = https://github.com/llvasconcellos2/ritmo-saude-ecommerce.git
[submodule "project_archive/neotropiclab"]
	path = project_archive/neotropiclab
	url = https://github.com/llvasconcellos2/neotropiclab.git
[submodule "project_archive/cmente"]
	path = project_archive/cmente
	url = https://github.com/llvasconcellos2/cmente.git
[submodule "project_archive/reacher"]
	path = project_archive/reacher
	url = https://github.com/llvasconcellos2/reacher.git
[submodule "project_archive/suleventos"]
	path = project_archive/suleventos
	url = https://github.com/llvasconcellos2/suleventos.git
[submodule "project_archive/century-eventos"]
	path = project_archive/century-eventos
	url = https://github.com/llvasconcellos2/century-eventos.git
[submodule "project_archive/nucleo-do-evento"]
	path = project_archive/nucleo-do-evento
	url = https://github.com/llvasconcellos2/nucleo-do-evento.git
[submodule "project_archive/resgate"]
	path = project_archive/resgate
	url = https://github.com/llvasconcellos2/resgate.git
[submodule "project_archive/monumento-ao-voluntario"]
	path = project_archive/monumento-ao-voluntario
	url = https://github.com/llvasconcellos2/monumento-ao-voluntario.git
[submodule "project_archive/jbc"]
	path = project_archive/jbc
	url = https://github.com/llvasconcellos2/jbc.git
[submodule "project_archive/ldi"]
	path = project_archive/ldi
	url = https://github.com/llvasconcellos2/ldi.git
[submodule "project_archive/gabivel"]
	path = project_archive/gabivel
	url = https://github.com/llvasconcellos2/gabivel.git
[submodule "project_archive/lamode"]
	path = project_archive/lamode
	url = https://github.com/llvasconcellos2/lamode.git
[submodule "project_archive/nr-10"]
	path = project_archive/nr-10
	url = https://github.com/llvasconcellos2/nr-10.git
[submodule "project_archive/e-profissionalizando"]
	path = project_archive/e-profissionalizando
	url = https://github.com/llvasconcellos2/e-profissionalizando.git
[submodule "project_archive/alue"]
	path = project_archive/alue
	url = https://github.com/llvasconcellos2/alue.git
[submodule "project_archive/tomio-studio"]
	path = project_archive/tomio-studio
	url = https://github.com/llvasconcellos2/tomio-studio.git
[submodule "project_archive/vonmuller"]
	path = project_archive/vonmuller
	url = https://github.com/llvasconcellos2/vonmuller.git
[submodule "project_archive/powermedia"]
	path = project_archive/powermedia
	url = https://github.com/llvasconcellos2/powermedia.git
[submodule "project_archive/quantic-solutions"]
	path = project_archive/quantic-solutions
	url = https://github.com/llvasconcellos2/quantic-solutions.git
[submodule "project_archive/alfa-eletro"]
	path = project_archive/alfa-eletro
	url = https://github.com/llvasconcellos2/alfa-eletro.git
[submodule "project_archive/ritmo-saude"]
	path = project_archive/ritmo-saude
	url = https://github.com/llvasconcellos2/ritmo-saude.git
[submodule "project_archive/mobtex"]
	path = project_archive/mobtex
	url = https://github.com/llvasconcellos2/mobtex.git
[submodule "project_archive/simple-squid-proxy-user-admin"]
	path = project_archive/simple-squid-proxy-user-admin
	url = https://github.com/llvasconcellos2/simple-squid-proxy-user-admin.git
[submodule "project_archive/maquel"]
	path = project_archive/maquel
	url = https://github.com/llvasconcellos2/maquel.git
[submodule "project_archive/infinitepar"]
	path = project_archive/infinitepar
	url = https://github.com/llvasconcellos2/infinitepar.git
[submodule "project_archive/aquitemjoinville"]
	path = project_archive/aquitemjoinville
	url = https://github.com/llvasconcellos2/aquitemjoinville.git
[submodule "project_archive/agenda-ead"]
	path = project_archive/agenda-ead
	url = https://github.com/llvasconcellos2/agenda-ead.git
[submodule "project_archive/oficina-dos-sonhos"]
	path = project_archive/oficina-dos-sonhos
	url = https://github.com/llvasconcellos2/oficina-dos-sonhos.git
[submodule "project_archive/fullhouse"]
	path = project_archive/fullhouse
	url = https://github.com/llvasconcellos2/fullhouse.git
[submodule "project_archive/oriente"]
	path = project_archive/oriente
	url = https://github.com/llvasconcellos2/oriente.git
[submodule "project_archive/gerhacao"]
	path = project_archive/gerhacao
	url = https://github.com/llvasconcellos2/gerhacao.git
[submodule "project_archive/supercarwash"]
	path = project_archive/supercarwash
	url = https://github.com/llvasconcellos2/supercarwash.git
[submodule "project_archive/www.leonardovasconcellos.tk"]
	path = project_archive/www.leonardovasconcellos.tk
	url = https://github.com/llvasconcellos2/www.leonardovasconcellos.tk.git
[submodule "project_archive/websolutions"]
	path = project_archive/websolutions
	url = https://github.com/llvasconcellos2/websolutions.git
[submodule "project_archive/first-personal-website"]
	path = project_archive/first-personal-website
	url = https://github.com/llvasconcellos2/first-personal-website.git
[submodule "project_archive_other/wp-client-side-image-resize"]
	path = project_archive_other/wp-client-side-image-resize
	url = https://github.com/llvasconcellos2/wp-client-side-image-resize.git
[submodule "project_archive/managerconsulting-landing-page"]
	path = project_archive/managerconsulting-landing-page
	url = https://github.com/llvasconcellos2/managerconsulting-landing-page
[submodule "project_archive/tlantic"]
	path = project_archive/tlantic
	url = https://github.com/llvasconcellos2/tlantic.git
[submodule "project_archive/devhouse-br.github.com"]
	path = project_archive/devhouse-br.github.com
	url = https://github.com/llvasconcellos2/devhouse-br.github.com.git
[submodule "project_archive/woocommerce-devhouse-default-product-size-and-weight"]
	path = project_archive/woocommerce-devhouse-default-product-size-and-weight
	url = https://github.com/llvasconcellos2/woocommerce-devhouse-default-product-size-and-weight.git
[submodule "project_archive/pro-tour"]
	path = project_archive/pro-tour
	url = https://github.com/llvasconcellos2/monumento-ao-voluntario.git
[submodule "project_archive/devhouse"]
	path = project_archive/devhouse
	url = https://github.com/llvasconcellos2/devhouse.git
[submodule "project_archive/devhouse-wordpress"]
	path = project_archive/devhouse-wordpress
	url = https://github.com/llvasconcellos2/devhouse-wordpress.git
