[submodule "project_archive_other/pro-tour"]
	path = project_archive_other/pro-tour
	url = https://github.com/llvasconcellos2/pro-tour.git
[submodule "project_archive_other/wp-client-side-image-resize"]
	path = project_archive_other/wp-client-side-image-resize
	url = https://github.com/llvasconcellos2/wp-client-side-image-resize.git
[submodule "project_archive/easy-clinic"]
	path = project_archive/easy-clinic
	url = https://github.com/llvasconcellos2/easy-clinic.git
[submodule "project_archive/juca"]
	path = project_archive/juca
	url = https://github.com/llvasconcellos2/juca